/********** ABSTRACTS **********/
/* FONT-FACE */
/* COLUMNAS */
/* ORDERS */
/* OFFSETS */
/* COLUMNAS*/
/* COLORES */
/* end Colores */
/********** BASE **********/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "Raleway", sans-serif;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}

input:focus {
  outline: none;
}

a {
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}

#wrap {
  position: relative;
}

@font-face {
  font-family: 'icomoon';
  src: url("../../fonts/icomoon.eot");
  src: url("../../fonts/icomoon.eot") format("embedded-opentype"), url("../../fonts/icomoon.ttf") format("truetype"), url("../../fonts/icomoon.woff") format("woff"), url("../../fonts/icomoon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pin:before {
  content: "\e90e";
}

.icon-play:before {
  content: "\e90f";
}

.icon-phone:before {
  content: "\e910";
}

.icon-close:before {
  content: "\e913";
}

.icon-instagram:before {
  content: "\e900";
}

.icon-blog:before {
  content: "\e901";
}

.icon-menu:before {
  content: "\e902";
}

.icon-arrow-right .path1:before {
  content: "\e903";
  color: #f44336;
}

.icon-arrow-right .path2:before {
  content: "\e904";
  margin-left: -1em;
  color: black;
}

.icon-next-solid:before {
  content: "\e905";
}

.icon-twitter:before {
  content: "\e906";
}

.icon-arrow-up .path1:before {
  content: "\e907";
  color: #ffc107;
}

.icon-arrow-up .path2:before {
  content: "\e908";
  margin-left: -1em;
  color: black;
}

.icon-whatsapp:before {
  content: "\e909";
}

.icon-youtube:before {
  content: "\e90a";
}

.icon-arrow-down .path1:before {
  content: "\e90b";
  color: #ffc107;
}

.icon-arrow-down .path2:before {
  content: "\e90c";
  margin-left: -1em;
  color: black;
}

.icon-facebook:before {
  content: "\e90d";
}

/********** LAYOUTS **********/
.w-100 {
  width: calc(100% + 20px) !important;
  margin-left: -0.625em;
}

@media (min-width: 22em) {
  .w-100 {
    width: calc(100% + 40px) !important;
    margin-left: -1.25em;
  }
}

@media (min-width: 48em) {
  .w-100 {
    width: calc(100% + 60px) !important;
    margin-left: -1.875em;
  }
}

@media (min-width: 64em) {
  .w-100 {
    width: 100% !important;
    margin-left: 0;
  }
}

.w-100-mobile {
  width: calc(100% + 20px) !important;
  margin-left: -0.625em;
}

@media screen and (max-width: 47em) {
  .w-100-mobile {
    border: none !important;
  }
}

@media (min-width: 22em) {
  .w-100-mobile {
    width: calc(100% + 40px) !important;
    margin-left: -1.25em;
  }
}

@media (min-width: 48em) {
  .w-100-mobile {
    width: 100% !important;
    margin-left: 0;
  }
}

@media (min-width: 64em) {
  .w-100-mobile {
    width: 100% !important;
    margin-left: 0;
  }
}

.row {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-mobile-1, .col-mobile-2, .col-mobile-3, .col-mobile-4, .col-mobile-5, .col-mobile-6, .col-mobile-7, .col-mobile-8, .col-mobile-9, .col-mobile-10, .col-mobile-11, .col-mobile-12, .col-mobile,
.col-mobile-auto, .col-tablet-1, .col-tablet-2, .col-tablet-3, .col-tablet-4, .col-tablet-5, .col-tablet-6, .col-tablet-7, .col-tablet-8, .col-tablet-9, .col-tablet-10, .col-tablet-11, .col-tablet-12, .col-tablet,
.col-tablet-auto, .col-desksm-1, .col-desksm-2, .col-desksm-3, .col-desksm-4, .col-desksm-5, .col-desksm-6, .col-desksm-7, .col-desksm-8, .col-desksm-9, .col-desksm-10, .col-desksm-11, .col-desksm-12, .col-desksm,
.col-desksm-auto, .col-deskxl-1, .col-deskxl-2, .col-deskxl-3, .col-deskxl-4, .col-deskxl-5, .col-deskxl-6, .col-deskxl-7, .col-deskxl-8, .col-deskxl-9, .col-deskxl-10, .col-deskxl-11, .col-deskxl-12, .col-deskxl,
.col-deskxl-auto {
  position: relative;
  width: 100%;
}

.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  -webkit-box-flex: 1;
          flex-grow: 1;
  max-width: 100%;
}

.col-auto {
  -ms-flex: 0 0 auto;
  -webkit-box-flex: 0;
          flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}

.col-1 {
  -ms-flex: 0 0 8.33333%;
  -webkit-box-flex: 0;
          flex: 0 0 8.33333%;
  max-width: 8.33333%;
}

.col-2 {
  -ms-flex: 0 0 16.66667%;
  -webkit-box-flex: 0;
          flex: 0 0 16.66667%;
  max-width: 16.66667%;
}

.col-3 {
  -ms-flex: 0 0 25%;
  -webkit-box-flex: 0;
          flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  -ms-flex: 0 0 33.33333%;
  -webkit-box-flex: 0;
          flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.col-5 {
  -ms-flex: 0 0 41.66667%;
  -webkit-box-flex: 0;
          flex: 0 0 41.66667%;
  max-width: 41.66667%;
}

.col-6 {
  -ms-flex: 0 0 50%;
  -webkit-box-flex: 0;
          flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  -ms-flex: 0 0 58.33333%;
  -webkit-box-flex: 0;
          flex: 0 0 58.33333%;
  max-width: 58.33333%;
}

.col-8 {
  -ms-flex: 0 0 66.66667%;
  -webkit-box-flex: 0;
          flex: 0 0 66.66667%;
  max-width: 66.66667%;
}

.col-9 {
  -ms-flex: 0 0 75%;
  -webkit-box-flex: 0;
          flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  -ms-flex: 0 0 83.33333%;
  -webkit-box-flex: 0;
          flex: 0 0 83.33333%;
  max-width: 83.33333%;
}

.col-11 {
  -ms-flex: 0 0 91.66667%;
  -webkit-box-flex: 0;
          flex: 0 0 91.66667%;
  max-width: 91.66667%;
}

.col-12 {
  -ms-flex: 0 0 100%;
  -webkit-box-flex: 0;
          flex: 0 0 100%;
  max-width: 100%;
}

.order-first {
  -ms-flex-order: -1;
  -webkit-box-ordinal-group: 0;
          order: -1;
}

.order-last {
  -ms-flex-order: 13;
  -webkit-box-ordinal-group: 14;
          order: 13;
}

.order-0 {
  -ms-flex-order: 0;
  -webkit-box-ordinal-group: 1;
          order: 0;
}

.order-1 {
  -ms-flex-order: 1;
  -webkit-box-ordinal-group: 2;
          order: 1;
}

.order-2 {
  -ms-flex-order: 2;
  -webkit-box-ordinal-group: 3;
          order: 2;
}

.order-3 {
  -ms-flex-order: 3;
  -webkit-box-ordinal-group: 4;
          order: 3;
}

.order-4 {
  -ms-flex-order: 4;
  -webkit-box-ordinal-group: 5;
          order: 4;
}

.order-5 {
  -ms-flex-order: 5;
  -webkit-box-ordinal-group: 6;
          order: 5;
}

.order-6 {
  -ms-flex-order: 6;
  -webkit-box-ordinal-group: 7;
          order: 6;
}

.order-7 {
  -ms-flex-order: 7;
  -webkit-box-ordinal-group: 8;
          order: 7;
}

.order-8 {
  -ms-flex-order: 8;
  -webkit-box-ordinal-group: 9;
          order: 8;
}

.order-9 {
  -ms-flex-order: 9;
  -webkit-box-ordinal-group: 10;
          order: 9;
}

.order-10 {
  -ms-flex-order: 10;
  -webkit-box-ordinal-group: 11;
          order: 10;
}

.order-11 {
  -ms-flex-order: 11;
  -webkit-box-ordinal-group: 12;
          order: 11;
}

.order-12 {
  -ms-flex-order: 12;
  -webkit-box-ordinal-group: 13;
          order: 12;
}

.offset-0 {
  margin-left: 0%;
}

.offset-1 {
  margin-left: 8.33333%;
}

.offset-2 {
  margin-left: 16.66667%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-4 {
  margin-left: 33.33333%;
}

.offset-5 {
  margin-left: 41.66667%;
}

.offset-6 {
  margin-left: 50%;
}

.offset-7 {
  margin-left: 58.33333%;
}

.offset-8 {
  margin-left: 66.66667%;
}

.offset-9 {
  margin-left: 75%;
}

.offset-10 {
  margin-left: 83.33333%;
}

.offset-11 {
  margin-left: 91.66667%;
}

@media (min-width: 768px) {
  .col-tablet {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
            flex-grow: 1;
    max-width: 100%;
  }
  .col-tablet-auto {
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  .col-tablet-1 {
    -ms-flex: 0 0 8.33333%;
    -webkit-box-flex: 0;
            flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-tablet-2 {
    -ms-flex: 0 0 16.66667%;
    -webkit-box-flex: 0;
            flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-tablet-3 {
    -ms-flex: 0 0 25%;
    -webkit-box-flex: 0;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .col-tablet-4 {
    -ms-flex: 0 0 33.33333%;
    -webkit-box-flex: 0;
            flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-tablet-5 {
    -ms-flex: 0 0 41.66667%;
    -webkit-box-flex: 0;
            flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-tablet-6 {
    -ms-flex: 0 0 50%;
    -webkit-box-flex: 0;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .col-tablet-7 {
    -ms-flex: 0 0 58.33333%;
    -webkit-box-flex: 0;
            flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-tablet-8 {
    -ms-flex: 0 0 66.66667%;
    -webkit-box-flex: 0;
            flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-tablet-9 {
    -ms-flex: 0 0 75%;
    -webkit-box-flex: 0;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .col-tablet-10 {
    -ms-flex: 0 0 83.33333%;
    -webkit-box-flex: 0;
            flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-tablet-11 {
    -ms-flex: 0 0 91.66667%;
    -webkit-box-flex: 0;
            flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-tablet-12 {
    -ms-flex: 0 0 100%;
    -webkit-box-flex: 0;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .order-tablet-first {
    -ms-flex-order: -1;
    -webkit-box-ordinal-group: 0;
            order: -1;
  }
  .order-tablet-last {
    -ms-flex-order: 13;
    -webkit-box-ordinal-group: 14;
            order: 13;
  }
  .order-tablet-0 {
    -ms-flex-order: 0;
    -webkit-box-ordinal-group: 1;
            order: 0;
  }
  .order-tablet-1 {
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
            order: 1;
  }
  .order-tablet-2 {
    -ms-flex-order: 2;
    -webkit-box-ordinal-group: 3;
            order: 2;
  }
  .order-tablet-3 {
    -ms-flex-order: 3;
    -webkit-box-ordinal-group: 4;
            order: 3;
  }
  .order-tablet-4 {
    -ms-flex-order: 4;
    -webkit-box-ordinal-group: 5;
            order: 4;
  }
  .order-tablet-5 {
    -ms-flex-order: 5;
    -webkit-box-ordinal-group: 6;
            order: 5;
  }
  .order-tablet-6 {
    -ms-flex-order: 6;
    -webkit-box-ordinal-group: 7;
            order: 6;
  }
  .order-tablet-7 {
    -ms-flex-order: 7;
    -webkit-box-ordinal-group: 8;
            order: 7;
  }
  .order-tablet-8 {
    -ms-flex-order: 8;
    -webkit-box-ordinal-group: 9;
            order: 8;
  }
  .order-tablet-9 {
    -ms-flex-order: 9;
    -webkit-box-ordinal-group: 10;
            order: 9;
  }
  .order-tablet-10 {
    -ms-flex-order: 10;
    -webkit-box-ordinal-group: 11;
            order: 10;
  }
  .order-tablet-11 {
    -ms-flex-order: 11;
    -webkit-box-ordinal-group: 12;
            order: 11;
  }
  .order-tablet-12 {
    -ms-flex-order: 12;
    -webkit-box-ordinal-group: 13;
            order: 12;
  }
  .offset-tablet-0 {
    margin-left: 0%;
  }
  .offset-tablet-1 {
    margin-left: 8.33333%;
  }
  .offset-tablet-2 {
    margin-left: 16.66667%;
  }
  .offset-tablet-3 {
    margin-left: 25%;
  }
  .offset-tablet-4 {
    margin-left: 33.33333%;
  }
  .offset-tablet-5 {
    margin-left: 41.66667%;
  }
  .offset-tablet-6 {
    margin-left: 50%;
  }
  .offset-tablet-7 {
    margin-left: 58.33333%;
  }
  .offset-tablet-8 {
    margin-left: 66.66667%;
  }
  .offset-tablet-9 {
    margin-left: 75%;
  }
  .offset-tablet-10 {
    margin-left: 83.33333%;
  }
  .offset-tablet-11 {
    margin-left: 91.66667%;
  }
}

@media (min-width: 64em) {
  .col-desksm {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
            flex-grow: 1;
    max-width: 100%;
  }
  .col-desksm-auto {
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  .col-desksm-1 {
    -ms-flex: 0 0 8.33333%;
    -webkit-box-flex: 0;
            flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-desksm-2 {
    -ms-flex: 0 0 16.66667%;
    -webkit-box-flex: 0;
            flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-desksm-3 {
    -ms-flex: 0 0 25%;
    -webkit-box-flex: 0;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .col-desksm-4 {
    -ms-flex: 0 0 33.33333%;
    -webkit-box-flex: 0;
            flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-desksm-5 {
    -ms-flex: 0 0 41.66667%;
    -webkit-box-flex: 0;
            flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-desksm-6 {
    -ms-flex: 0 0 50%;
    -webkit-box-flex: 0;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .col-desksm-7 {
    -ms-flex: 0 0 58.33333%;
    -webkit-box-flex: 0;
            flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-desksm-8 {
    -ms-flex: 0 0 66.66667%;
    -webkit-box-flex: 0;
            flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-desksm-9 {
    -ms-flex: 0 0 75%;
    -webkit-box-flex: 0;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .col-desksm-10 {
    -ms-flex: 0 0 83.33333%;
    -webkit-box-flex: 0;
            flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-desksm-11 {
    -ms-flex: 0 0 91.66667%;
    -webkit-box-flex: 0;
            flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-desksm-12 {
    -ms-flex: 0 0 100%;
    -webkit-box-flex: 0;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .order-desksm-first {
    -ms-flex-order: -1;
    -webkit-box-ordinal-group: 0;
            order: -1;
  }
  .order-desksm-last {
    -ms-flex-order: 13;
    -webkit-box-ordinal-group: 14;
            order: 13;
  }
  .order-desksm-0 {
    -ms-flex-order: 0;
    -webkit-box-ordinal-group: 1;
            order: 0;
  }
  .order-desksm-1 {
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
            order: 1;
  }
  .order-desksm-2 {
    -ms-flex-order: 2;
    -webkit-box-ordinal-group: 3;
            order: 2;
  }
  .order-desksm-3 {
    -ms-flex-order: 3;
    -webkit-box-ordinal-group: 4;
            order: 3;
  }
  .order-desksm-4 {
    -ms-flex-order: 4;
    -webkit-box-ordinal-group: 5;
            order: 4;
  }
  .order-desksm-5 {
    -ms-flex-order: 5;
    -webkit-box-ordinal-group: 6;
            order: 5;
  }
  .order-desksm-6 {
    -ms-flex-order: 6;
    -webkit-box-ordinal-group: 7;
            order: 6;
  }
  .order-desksm-7 {
    -ms-flex-order: 7;
    -webkit-box-ordinal-group: 8;
            order: 7;
  }
  .order-desksm-8 {
    -ms-flex-order: 8;
    -webkit-box-ordinal-group: 9;
            order: 8;
  }
  .order-desksm-9 {
    -ms-flex-order: 9;
    -webkit-box-ordinal-group: 10;
            order: 9;
  }
  .order-desksm-10 {
    -ms-flex-order: 10;
    -webkit-box-ordinal-group: 11;
            order: 10;
  }
  .order-desksm-11 {
    -ms-flex-order: 11;
    -webkit-box-ordinal-group: 12;
            order: 11;
  }
  .order-desksm-12 {
    -ms-flex-order: 12;
    -webkit-box-ordinal-group: 13;
            order: 12;
  }
  .offset-desksm-0 {
    margin-left: 0%;
  }
  .offset-desksm-1 {
    margin-left: 8.33333%;
  }
  .offset-desksm-2 {
    margin-left: 16.66667%;
  }
  .offset-desksm-3 {
    margin-left: 25%;
  }
  .offset-desksm-4 {
    margin-left: 33.33333%;
  }
  .offset-desksm-5 {
    margin-left: 41.66667%;
  }
  .offset-desksm-6 {
    margin-left: 50%;
  }
  .offset-desksm-7 {
    margin-left: 58.33333%;
  }
  .offset-desksm-8 {
    margin-left: 66.66667%;
  }
  .offset-desksm-9 {
    margin-left: 75%;
  }
  .offset-desksm-10 {
    margin-left: 83.33333%;
  }
  .offset-desksm-11 {
    margin-left: 91.66667%;
  }
}

@media (min-width: 80em) {
  .col-deskxl {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
            flex-grow: 1;
    max-width: 100%;
  }
  .col-deskxl-auto {
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  .col-deskxl-1 {
    -ms-flex: 0 0 8.33333%;
    -webkit-box-flex: 0;
            flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-deskxl-2 {
    -ms-flex: 0 0 16.66667%;
    -webkit-box-flex: 0;
            flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-deskxl-3 {
    -ms-flex: 0 0 25%;
    -webkit-box-flex: 0;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .col-deskxl-4 {
    -ms-flex: 0 0 33.33333%;
    -webkit-box-flex: 0;
            flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-deskxl-5 {
    -ms-flex: 0 0 41.66667%;
    -webkit-box-flex: 0;
            flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-deskxl-6 {
    -ms-flex: 0 0 50%;
    -webkit-box-flex: 0;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .col-deskxl-7 {
    -ms-flex: 0 0 58.33333%;
    -webkit-box-flex: 0;
            flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-deskxl-8 {
    -ms-flex: 0 0 66.66667%;
    -webkit-box-flex: 0;
            flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-deskxl-9 {
    -ms-flex: 0 0 75%;
    -webkit-box-flex: 0;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .col-deskxl-10 {
    -ms-flex: 0 0 83.33333%;
    -webkit-box-flex: 0;
            flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-deskxl-11 {
    -ms-flex: 0 0 91.66667%;
    -webkit-box-flex: 0;
            flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-deskxl-12 {
    -ms-flex: 0 0 100%;
    -webkit-box-flex: 0;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .order-deskxl-first {
    -ms-flex-order: -1;
    -webkit-box-ordinal-group: 0;
            order: -1;
  }
  .order-deskxl-last {
    -ms-flex-order: 13;
    -webkit-box-ordinal-group: 14;
            order: 13;
  }
  .order-deskxl-0 {
    -ms-flex-order: 0;
    -webkit-box-ordinal-group: 1;
            order: 0;
  }
  .order-deskxl-1 {
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
            order: 1;
  }
  .order-deskxl-2 {
    -ms-flex-order: 2;
    -webkit-box-ordinal-group: 3;
            order: 2;
  }
  .order-deskxl-3 {
    -ms-flex-order: 3;
    -webkit-box-ordinal-group: 4;
            order: 3;
  }
  .order-deskxl-4 {
    -ms-flex-order: 4;
    -webkit-box-ordinal-group: 5;
            order: 4;
  }
  .order-deskxl-5 {
    -ms-flex-order: 5;
    -webkit-box-ordinal-group: 6;
            order: 5;
  }
  .order-deskxl-6 {
    -ms-flex-order: 6;
    -webkit-box-ordinal-group: 7;
            order: 6;
  }
  .order-deskxl-7 {
    -ms-flex-order: 7;
    -webkit-box-ordinal-group: 8;
            order: 7;
  }
  .order-deskxl-8 {
    -ms-flex-order: 8;
    -webkit-box-ordinal-group: 9;
            order: 8;
  }
  .order-deskxl-9 {
    -ms-flex-order: 9;
    -webkit-box-ordinal-group: 10;
            order: 9;
  }
  .order-deskxl-10 {
    -ms-flex-order: 10;
    -webkit-box-ordinal-group: 11;
            order: 10;
  }
  .order-deskxl-11 {
    -ms-flex-order: 11;
    -webkit-box-ordinal-group: 12;
            order: 11;
  }
  .order-deskxl-12 {
    -ms-flex-order: 12;
    -webkit-box-ordinal-group: 13;
            order: 12;
  }
  .offset-deskxl-0 {
    margin-left: 0%;
  }
  .offset-deskxl-1 {
    margin-left: 8.33333%;
  }
  .offset-deskxl-2 {
    margin-left: 16.66667%;
  }
  .offset-deskxl-3 {
    margin-left: 25%;
  }
  .offset-deskxl-4 {
    margin-left: 33.33333%;
  }
  .offset-deskxl-5 {
    margin-left: 41.66667%;
  }
  .offset-deskxl-6 {
    margin-left: 50%;
  }
  .offset-deskxl-7 {
    margin-left: 58.33333%;
  }
  .offset-deskxl-8 {
    margin-left: 66.66667%;
  }
  .offset-deskxl-9 {
    margin-left: 75%;
  }
  .offset-deskxl-10 {
    margin-left: 83.33333%;
  }
  .offset-deskxl-11 {
    margin-left: 91.66667%;
  }
}

[class^="row-gap"], [class*=" row-gap"] {
  display: -ms-grid;
  display: grid;
  grid-column-gap: 0.625em;
  grid-row-gap: 0.625em;
}

@media (min-width: 22em) {
  [class^="row-gap"], [class*=" row-gap"] {
    grid-column-gap: 1.25em;
    grid-row-gap: 1.25em;
  }
}

@media (min-width: 48em) {
  [class^="row-gap"], [class*=" row-gap"] {
    grid-column-gap: 1.875em;
    grid-row-gap: 1.875em;
  }
}

@media (min-width: 64em) {
  [class^="row-gap"], [class*=" row-gap"] {
    grid-column-gap: 2.5em;
    grid-row-gap: 2.5em;
  }
}

.row-gap-4 {
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
}

.row-gap-3 {
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.row-gap-2 {
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

@media (min-width: 48em) {
  .row-gap-tablet-4 {
    -ms-grid-columns: 1fr 1fr 1fr  1fr;
        grid-template-columns: 1fr 1fr 1fr  1fr;
  }
  .row-gap-tablet-3 {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  .row-gap-tablet-2 {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 64em) {
  .row-gap-desksm-4 {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .row-gap-desksm-3 {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  .row-gap-desksm-2 {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 80em) {
  .row-gap-deskxl-4 {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .row-gap-deskxl-3 {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  .row-gap-deskxl-2 {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

.container-sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 64em) {
  .wrapper {
    width: 1200px;
    margin: auto;
  }
  .container-sidebar {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .main {
    width: 100%;
  }
  .aside {
    width: 250px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
}

[class^="lay"],
[class*=" lay"] {
  width: 100%;
  padding-right: 0.625em;
  padding-left: 0.625em;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 22em) {
  [class^="lay"],
  [class*=" lay"] {
    padding-right: 1.25em;
    padding-left: 1.25em;
  }
}

@media (min-width: 48em) {
  [class^="lay"],
  [class*=" lay"] {
    padding-right: 1.875em;
    padding-left: 1.875em;
  }
}

@media (min-width: 64em) {
  [class^="lay"],
  [class*=" lay"] {
    padding-right: 2.5em;
    padding-left: 2.5em;
  }
}

.container-full-width {
  padding-left: 0;
  padding-right: 0;
}

/********** MODULES **********/
.mod-amenities {
  margin: 5em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mod-amenities .row {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-bottom: 3.125em;
}

.mod-contact {
  margin: 5em 0;
}

.mod-contact .mod-section-title {
  padding: 0 0 0 3.125em;
}

.mod-contact h3 {
  margin-bottom: 1.25em;
}

.mod-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 15px 0;
}

.mod-intro {
  margin: 5em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mod-intro .text {
  padding: 0 1.25em 0 4.375em;
}

.mod-intro .text .com-title.--s {
  margin-bottom: 1.25em;
}

.mod-intro .text .com-title.--m {
  margin-bottom: 0.625em;
}

.mod-intro .image {
  position: relative;
}

.mod-intro .image img {
  width: 100%;
}

.mod-intro .image .com-link-boxed {
  position: absolute;
  background-color: #FFF;
  bottom: 0;
  padding: 1.5625em 1.875em;
  right: 0;
}

.mod-intro .image .com-link-boxed a {
  font-weight: bold;
  color: #000;
  font-size: 0.875rem;
}

.mod-intro .image .com-link-boxed i {
  margin-left: 0.625em;
}

.mod-section-title {
  padding: 3.75em;
}

.mod-section-title.--spaced {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mod-section-title.--no-padding {
  padding: 0;
}

.mod-slider {
  margin: 0 0 2.5em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mod-slider.bg-slide-1 {
  background-image: url("../../images/slides/slide-1.jpg");
  background-size: cover;
  background-position: center center;
  min-height: 550px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mod-slider .slider__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 2.5em;
}

/********** COMPONENTS **********/
.com-amenitie {
  width: 16%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.com-amenitie .com-icon-amenitie {
  background-color: #fff;
  padding: 3.125em;
  border-radius: 6.25em;
  width: 75%;
  margin-bottom: 0.9375em;
}

.com-amenitie img {
  width: 40px;
  text-align: center;
}

.com-amenitie p {
  text-align: center;
  font-size: 0.9375rem;
}

.com-bg.--grey {
  background-color: #f7f7f7;
}

.com-button {
  background-color: #000;
  color: #FFF;
  padding: 10px 20px;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
}

.com-button:hover {
  opacity: 0.8;
}

.com-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1.25em 0;
}

.com-form fieldset {
  margin: 0.625em 0;
}

.com-form label {
  font-family: "Raleway", sans-serif;
  font-size: 0.875em;
  padding-bottom: 0.3125em;
}

.com-form .com-input, .com-form .com-textarea {
  border: 1px solid #818181;
  border-radius: 0.25em;
  width: 100%;
}

.com-form .com-input {
  height: 2.5em;
}

.com-form .com-textarea {
  height: 6.25em;
  font-family: 'Raleway';
  padding: 0.625em;
}

.com-icon {
  font-size: 0.75rem;
}

.com-icon.--black {
  color: #000;
}

.com-icon.--black.--border {
  border: 1px solid #000;
}

.com-icon.--white {
  color: #FFF;
}

.com-icon.--white.--border {
  border: 2px solid #FFF;
}

.com-icon.--border {
  border-radius: 3.125em;
  padding: 8px;
}

.com-icon.--border i {
  font-size: 0.75rem;
  position: relative;
}

.com-icon:hover {
  opacity: 0.8;
}

.com-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.com-link {
  /* Header */
}

.com-link.--black {
  color: #000;
}

.com-link.--black:hover {
  color: #818181;
}

.com-link.--grey {
  color: #818181;
}

.com-link.--grey:hover {
  color: #000;
}

.com-link.--mail {
  margin-left: 1.875em;
  position: relative;
  top: 3px;
}

.com-link.--whatsapp {
  font-weight: 600;
}

.com-link.--whatsapp i {
  margin-right: 0.625em;
  position: relative;
  top: 3px;
}

.com-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 1.25em;
  font-size: 1.875rem;
  color: #000;
  position: relative;
  top: 5px;
}

.com-paragraph {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  line-height: 1.4375rem;
}

.com-paragraph.--grey {
  color: #818181;
}

.com-paragraph.--black {
  color: #000;
}

.com-paragraph.--white {
  color: #FFF;
}

.com-text-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  /* Slider */
}

.mod-slider .com-text-icon .com-icon {
  margin-left: 1.875em;
  position: relative;
  top: -0.1875em;
}

.com-title.--s {
  font-size: 1.0625rem;
  line-height: 1.5rem;
  font-family: "Raleway", sans-serif;
  color: #000;
  font-weight: 600;
}

.com-title.--s:after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 11em;
  margin-left: 2em;
  height: 1px;
  background-color: #000;
  -ms-flex-negative: 10000;
      flex-shrink: 10000;
  text-align: left;
}

.com-title.--s.--white {
  color: #FFF;
}

.com-title.--s.--white:after {
  content: '';
  background-color: #FFF;
  width: 4em;
  margin-left: 0.7em;
}

.com-title.--m {
  font-size: 2.8125rem;
  line-height: 3.25rem;
  font-family: "Poppins", sans-serif;
  color: #000;
  font-weight: bold;
}

.com-title.--m-2 {
  font-size: 2.1875rem;
  line-height: 2.625rem;
  font-family: "Poppins", sans-serif;
  color: #000;
  font-weight: bold;
}

.com-title.--m-2.--right {
  text-align: right;
}

.com-title.--l {
  font-size: 5rem;
  font-family: "Poppins", sans-serif;
  line-height: 5.4375rem;
  color: #FFF;
}

.mod-slider .com-title.--l {
  max-width: 50%;
  margin-bottom: 0.3125em;
}
/*# sourceMappingURL=site.css.map */