.mod-section-title {
    padding: $px-60;
    @media screen and (max-width:767px) {
        padding: $px-20;
    }

    &.--spaced {
        justify-content: space-between;
        display: flex;
    }

    &.--no-padding {
        padding:0;

    }
}