.mod-amenities {
    margin: $px-80 0 0 0;
    display: flex;
    flex-direction: column;
    @media screen and (max-width:1023px) {
        margin: 0;
    }

    .row {
        justify-content: space-evenly;
        padding-bottom:$px-50;
        @media screen and (max-width:767px) {
            padding-bottom:$px-30;
        }
    }
}