.mod-footer {
    border-top:1px solid $black;
    padding:$px-20 0;
    @media screen and (max-width:1023px) {
        text-align: center;
    }

    .row {
        align-items: center;
    }

    .flex-end {
        text-align: right;
        @media screen and (max-width:1023px) {
            text-align: center;
            margin:$px-40 0;
        }
    }

    .com-info {
        color:$black;
        text-align: center;
        flex-direction: column;
        line-height: $line-18;

        strong {
            font-weight: 500;
        }
    }
}