.com-info {
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    @media screen and (max-width:767px) {
        a.com-link.--grey.--mail, 
        a.com-link.--black.--whatsapp  {
            display: none;
        }
    }
}