.com-link {
    &.--black {
        color: $black;

        &:hover {
            color: $grey;
        }
    }

    &.--grey {
        color: $grey;

        &:hover {
            color: $black;
        }
    }

    
    /* Header */

    &.--mail {
        margin-left: $px-30;
        position: relative;
        top: 3px;
    }

    &.--whatsapp {
        font-weight: 600;
        position: relative;
        top: 3px;
        i {
            margin-right: $px-10;
            position:relative;
            top:3px;
            @media screen and (max-width:767px) {
                font-size:27px;
             }
        }
    }

    &.--eidico {
        position: relative;
        top: 5px;
        font-weight: 500;
        margin-left: 21px;
    }
}