.com-menu {
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-left:$px-20;
    font-size: $font-30;
    color:$black;
    position:relative;
    top:5px;
}