.com-title {

    &.--s {
        font-size: $font-17;
        line-height: $line-17;
        font-family: $font-default;
        color: $black;
        font-weight: 600;

        &:after {
            content: '';
            display: inline-block;
            vertical-align: middle;
            width: 11em;
            margin-left: 2em;
            height: 1px;
            background-color: $black;
            flex-shrink: 10000;
            text-align: left;
        }


        &.--white {
            color: $white;

            &:after {
                content: '';
                background-color: $white;
                width: 4em;
                margin-left: 0.7em;
            }

        }
    }

    &.--m {
        font-size: $font-45;
        line-height: $line-45;
        font-family: $font-titles;
        color: $black;
        font-weight: bold;
    }

    &.--m-2 {
        font-size: $font-35;
        line-height: $line-35;
        font-family: $font-titles;
        color: $black;
        font-weight: bold;

        &.--right {
            text-align: right;
        }
    }

    &.--l {
        font-size: $font-80;
        font-family: $font-titles;
        line-height: $line-80;
        color: $white;

        @media screen and (max-width:1023px) {
            font-size: $font-60;
        }
    }
}